backup/
get_conflicts

# Tags
tags

# Dotfiles git files
.cfg

# Vim temp files
*.swp
vim/.vim/init.vim

# Dolphin directory settings
*.directory

# Emacs packages and temp files
.emacs.d/.org-id-locations
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/custom.el
.emacs.d/elpa/*
.emacs.d/image-dired/
.emacs.d/oauth2.plstore
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/url/
.emacs.d/var/
.emacs.d/recentf
.emacs.d/ido.*
.emacs.d/eshell/*
.emacs.d/.mc-lists.el
.emacs.d/.last-package-update-day
*.elc
*~
\#*\#
.\#*

# Unnecessary files in osu directory
.local/*
.osu/.update-timestamp
.osu/dosdevices/*
.osu/drive_c/*
.osu/system.reg
.osu/user.reg
.osu/userdef.reg
.osu/winetricks.log
