backup/
get_conflicts

# Vim temp files
*.swp
vim/.vim/init.vim

# Dolphin directory settings
*.directory

# Emacs packages and temp files
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/custom.el
/emacs/.emacs.d/elpa/*
/emacs/.emacs.d/image-dired/
/emacs/.emacs.d/oauth2.plstore
/emacs/.emacs.d/session.*
/emacs/.emacs.d/tramp
/emacs/.emacs.d/url/
/emacs/.emacs.d/var/
/emacs/.emacs.d/recentf
/emacs/.emacs.d/ido.*
/emacs/.emacs.d/eshell/*
/emacs/.emacs.d/.mc-lists.el
*.elc
*~
\#*\#
.\#*

# Unnecessary files in osu directory
/osu/.local/*
/osu/.osu/.update-timestamp
/osu/.osu/dosdevices/*
/osu/.osu/drive_c/*
/osu/.osu/system.reg
/osu/.osu/user.reg
/osu/.osu/userdef.reg
/osu/.osu/winetricks.log