[user]
	email = steamyleafjuice@protonmail.com
	name = Dustin Bosveld
[credential]
	helper = cache --timeout 3600
[branch]
	autosetuprebase = always
[core]
	editor = $VISUAL
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[init]
	templatedir = ~/.git_template
